In [85]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)

In [86]:
teams = pd.read_csv('teams', index_col=0)
top500 = pd.read_csv('top500.csv', index_col=0)
df = pd.read_csv('pre_top500histories.csv', index_col=0)
teams.head()

,code,draw,form,id,loss,name,played,points,position,short_name,strength,strength_attack_away,strength_attack_home,strength_defence_away,strength_defence_home,strength_overall_away,strength_overall_home,team_division,unavailable,win
0,3,0,NaN,1,0,Arsenal,0,0,0,ARS,4,1190,1150,1330,1280,1270,1230,NaN,False,0
1,7,0,NaN,2,0,Aston Villa,0,0,0,AVL,2,1060,1030,1050,1030,1080,1040,NaN,False,0
2,91,0,NaN,3,0,Bournemouth,0,0,0,BOU,3,1070,1030,1180,1110,1120,1090,NaN,False,0
3,36,0,NaN,4,0,Brighton,0,0,0,BHA,3,1160,1040,1130,1030,1120,1050,NaN,False,0
4,90,0,NaN,5,0,Burnley,0,0,0,BUR,3,1130,1060,1050,1050,1110,1050,NaN,False,0

In [87]:
df.shape

(8702, 37)

In [88]:
df.head(1)

,assists,bonus,bps,clean_sheets,creativity,element,fixture,goals_conceded,goals_scored,ict_index,influence,kickoff_time,minutes,opponent_team,own_goals,penalties_missed,penalties_saved,red_cards,round,saves,selected,team_a_score,team_h_score,threat,total_points,transfers_balance,transfers_in,transfers_out,value,was_home,yellow_cards,gameweek,id_,sum_points,web_name,team,next_week_points
0,0,0,5,1,4.9,166,5,0,0,1.6,6.8,2019-08-11T13:00:00Z,90,20,0,0,0,0,1,0,586801,0,0,4.0,2,0,0,0,90,True,0,1,166,2,Vardy,9,2

In [89]:
df[(df['gameweek'] <= 18) & (df['opponent_team'] == 14) & (df['goals_scored'] >= 1)].sort_values('gameweek')[['gameweek', 'goals_scored', 'web_name']].goals_scored.sum()

35

In [90]:
goals_conceded = teams[['id']]
goals_conceded = goals_conceded.set_index('id')
for gameweek in range(1, df['gameweek'].max()+1):
    goals_conceded[gameweek] = 0
goals_conceded

    1   2   3   4   5   6   7   8   9   10  11  12  13  14  15  16  17  18
id
1    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
2    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
3    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
4    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
5    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
6    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
7    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
8    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
9    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
10   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
11   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
12   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
13   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
14   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
15   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
16   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
17   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
18   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
19   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
20   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0

In [91]:
for gameweek in range(1, df['gameweek'].max()+1):
    for opponent in range(1, 21):
        goals_conceded.loc[opponent, gameweek] = df[(df['gameweek'] <= gameweek) & (df['opponent_team'] == opponent)].goals_scored.sum()

goals_conceded

    1   2   3   4   5   6   7   8   9   10  11  12  13  14  15  16  17  18
id
1    0   1   4   6   8  10  11  11  12  14  15  17  19  21  23  24  27  27
2    3   5   5   6   6   9  11  12  13  16  18  20  20  21  23  27  29  32
3    1   2   5   8   9  10  12  13  13  13  13  15  17  20  21  24  24  25
4    0   1   3   7   8   8  10  10  12  13  13  15  17  19  20  22  23  24
5    0   2   3   5   6   6   8   8  10  14  17  17  17  19  23  28  28  28
6    4   5   7   8   9  11  11  12  12  14  15  15  17  18  19  22  23  23
7    0   1   2   2   5   6   6   7   9  11  13  15  17  17  17  17  18  19
8    0   0   2   4   7   8  11  12  12  14  15  16  18  20  25  26  27  27
9    0   1   2   3   4   5   5   7   8   8   8   8   8   9   9  10  11  14
10   1   2   3   3   4   5   5   6   7   8   9  10  11  12  14  14  14  14
11   0   2   3   3   6   6   7   9   9   9  10  13  14  16  17  19  19  20
12   0   1   3   5   5   7   8   8   9  10  11  12  15  17  18  19  19  21
13   1   4   4   5   8   8  12  12  13  14  16  17  19  21  21  22  23  23
14   3   4   7   9  11  13  15  20  20  23  25  27  27  29  31  33  33  35
15   1   1   3   5   6   6   8   8   8   9   9  10  12  13  15  16  16  16
16   3   5   5   6   6   9  11  15  16  25  27  29  31  32  33  35  36  37
17   1   3   4   6   8  10  11  12  13  15  16  17  19  21  23  23  24  26
18   2   3   6   7   9  17  18  18  19  19  21  21  24  26  28  28  30  30
19   5   6   7   7   7   7   9  11  13  14  17  19  22  22  24  27  27  27
20   0   1   2   5  10  10  10  10  11  12  13  14  15  16  16  18  20  21

In [92]:
def conceded_func(team, gameweek):
    return goals_conceded.loc[team, gameweek]

In [93]:
conceded_func(15,3)

3

In [94]:
team_week_pairs = []
for i in range(df.shape[0]):
    team_week_pairs.append((df.loc[i, 'opponent_team'], df.loc[i, 'gameweek']))

In [95]:
df.head()

,assists,bonus,bps,clean_sheets,creativity,element,fixture,goals_conceded,goals_scored,ict_index,influence,kickoff_time,minutes,opponent_team,own_goals,penalties_missed,penalties_saved,red_cards,round,saves,selected,team_a_score,team_h_score,threat,total_points,transfers_balance,transfers_in,transfers_out,value,was_home,yellow_cards,gameweek,id_,sum_points,web_name,team,next_week_points
0,0,0,5,1,4.9,166,5,0,0,1.6,6.8,2019-08-11T13:00:00Z,90,20,0,0,0,0,1,0,586801,0,0,4.0,2,0,0,0,90,True,0,1,166,2,Vardy,9,2
1,0,0,-3,0,2.3,166,14,1,0,0.9,0.0,2019-08-18T15:30:00Z,90,6,0,0,0,0,2,0,551733,1,1,10.0,2,-82257,18334,100591,90,False,0,2,166,4,Vardy,9,8
2,0,2,25,0,1.8,166,27,1,1,6.2,33.6,2019-08-24T14:00:00Z,90,15,0,0,0,0,3,0,488259,2,1,27.0,8,-78612,32101,110713,89,False,0,3,166,12,Vardy,9,16
3,1,3,63,0,13.6,166,36,1,2,14.6,87.6,2019-08-31T14:00:00Z,90,3,0,0,0,0,4,0,499553,1,3,45.0,16,-7210,49194,56404,89,True,0,4,166,28,Vardy,9,2
4,0,0,5,0,11.3,166,45,1,0,1.7,1.2,2019-09-14T14:00:00Z,90,12,0,0,0,0,5,0,613077,0,1,4.0,2,83507,136063,52556,89,False,0,5,166,30,Vardy,9,2

In [96]:
df['team_a_conceded'] = [conceded_func(x, y) for (x, y) in team_week_pairs]

In [97]:
df.head()

,assists,bonus,bps,clean_sheets,creativity,element,fixture,goals_conceded,goals_scored,ict_index,influence,kickoff_time,minutes,opponent_team,own_goals,penalties_missed,penalties_saved,red_cards,round,saves,selected,team_a_score,team_h_score,threat,total_points,transfers_balance,transfers_in,transfers_out,value,was_home,yellow_cards,gameweek,id_,sum_points,web_name,team,next_week_points,team_a_conceded
0,0,0,5,1,4.9,166,5,0,0,1.6,6.8,2019-08-11T13:00:00Z,90,20,0,0,0,0,1,0,586801,0,0,4.0,2,0,0,0,90,True,0,1,166,2,Vardy,9,2,0
1,0,0,-3,0,2.3,166,14,1,0,0.9,0.0,2019-08-18T15:30:00Z,90,6,0,0,0,0,2,0,551733,1,1,10.0,2,-82257,18334,100591,90,False,0,2,166,4,Vardy,9,8,5
2,0,2,25,0,1.8,166,27,1,1,6.2,33.6,2019-08-24T14:00:00Z,90,15,0,0,0,0,3,0,488259,2,1,27.0,8,-78612,32101,110713,89,False,0,3,166,12,Vardy,9,16,3
3,1,3,63,0,13.6,166,36,1,2,14.6,87.6,2019-08-31T14:00:00Z,90,3,0,0,0,0,4,0,499553,1,3,45.0,16,-7210,49194,56404,89,True,0,4,166,28,Vardy,9,2,8
4,0,0,5,0,11.3,166,45,1,0,1.7,1.2,2019-09-14T14:00:00Z,90,12,0,0,0,0,5,0,613077,0,1,4.0,2,83507,136063,52556,89,False,0,5,166,30,Vardy,9,2,5

In [98]:
df.to_csv('top500histories')