This notebook will pull from the FPL API the weekly results for each player and stack all the results into a single df

Update weekly

In [1]:
import pandas as pd
import numpy as np
import requests

In [2]:
top500 = pd.read_csv('top500.csv', index_col='id_')
teams = pd.read_csv('teams', index_col=0)

In [3]:
histories = {}

for id_ in top500.index:
    url = 'https://fantasy.premierleague.com/api/element-summary/' + str(id_) + '/'
    r = requests.get(url)
    player_data = r.json()
    player_history = player_data['history']
    
    histories[id_] = player_history

In [4]:
salah = pd.DataFrame(histories[191])

In [5]:
salah['total_points']

0     12
1      3
2     15
3      6
4      9
5      5
6      3
7      2
8      0
9      7
10     2
11     8
12     0
13     3
14     0
15    13
16    16
17     3
18     3
19    10
20     6
21     7
22     2
23    14
Name: total_points, dtype: int64

In [6]:
history_dfs = {}

for key in histories:
    df = pd.DataFrame(histories[key])
    df['id_'] = key
    df['web_name'] = top500.loc[key]['web_name']
    df['team'] = top500['team'].loc[key]
    df['sum_minutes'] = [sum(df['minutes'].iloc[:i+1]) for i in range(len(df.index))]
    df['sum_points'] = [sum(df['total_points'].iloc[:i+1]) for i in range(len(df.index))]
    df['next_week_points'] = df['total_points'].drop(0).append(pd.Series(0)).reset_index(drop=True)
    
    history_dfs[key] = df

In [7]:
pd.set_option('display.max_columns', None)
history_dfs[191]

,assists,bonus,bps,clean_sheets,creativity,element,fixture,goals_conceded,goals_scored,ict_index,influence,kickoff_time,minutes,opponent_team,own_goals,penalties_missed,penalties_saved,red_cards,round,saves,selected,team_a_score,team_h_score,threat,total_points,transfers_balance,transfers_in,transfers_out,value,was_home,yellow_cards,id_,web_name,team,sum_minutes,sum_points,next_week_points
0,1,2,40,0,39.7,191,1,1,1,13.4,54.8,2019-08-09T19:00:00Z,90,14,0,0,0,0,1,0,2375465,1,4,39.0,12,0,0,0,125,True,0,191,Salah,10,90,12,3
1,0,0,0,1,11.8,191,19,0,0,4.3,2.4,2019-08-17T14:00:00Z,78,16,0,0,0,0,2,0,2778082,2,1,29.0,3,114282,156910,42628,125,False,0,191,Salah,10,168,15,15
2,0,3,43,0,16.6,191,24,1,2,15.5,71.2,2019-08-24T16:30:00Z,90,1,0,0,0,0,3,0,2444065,1,3,67.0,15,-351541,47097,398638,125,True,0,191,Salah,10,258,30,6
3,1,0,15,1,38.4,191,32,0,0,12.3,27.0,2019-08-31T16:30:00Z,90,5,0,0,0,0,4,0,2810462,3,0,58.0,6,243530,291554,48024,125,False,0,191,Salah,10,348,36,9
4,0,2,34,0,41.8,191,44,1,1,15.9,44.6,2019-09-14T11:30:00Z,90,13,0,0,0,0,5,0,2874525,1,3,73.0,9,31898,124574,92676,125,True,0,191,Salah,10,438,45,5
5,1,0,11,0,15.3,191,53,1,0,6.6,14.8,2019-09-22T15:30:00Z,90,6,0,0,0,0,6,0,2804643,2,1,36.0,5,-80384,49872,130256,125,False,0,191,Salah,10,528,50,3
6,0,0,2,1,13.3,191,68,0,0,8.9,7.6,2019-09-28T11:30:00Z,90,15,0,0,0,0,7,0,2889458,1,0,68.0,3,48879,123616,74737,125,False,0,191,Salah,10,618,53,2
7,0,0,5,0,37.7,191,74,1,0,15.0,18.2,2019-10-05T14:00:00Z,90,9,0,0,0,0,8,0,2797360,1,2,94.0,2,-92287,34441,126728,125,True,0,191,Salah,10,708,55,0
8,0,0,0,0,0.0,191,87,0,0,0.0,0.0,2019-10-20T15:30:00Z,0,12,0,0,0,0,9,0,2186184,1,1,0.0,0,-601424,13726,615150,124,False,0,191,Salah,10,708,55,7
9,0,0,25,0,15.3,191,94,1,1,15.3,45.0,2019-10-27T16:30:00Z,84,17,0,0,0,0,10,0,2096834,1,2,93.0,7,-114968,23153,138121,124,True,0,191,Salah,10,792,62,2
10,0,0,4,0,1.2,191,102,1,0,3.5,0.0,2019-11-02T15:00:00Z,64,2,0,0,0,0,11,0,2001830,2,1,35.0,2,-101601,29418,131019,124,False,0,191,Salah,10,856,64,8
11,0,1,25,0,3.3,191,114,1,1,9.7,45.2,2019-11-10T16:30:00Z,86,11,0,0,0,0,12,0,1894445,1,3,48.0,8,-110997,26242,137239,123,True,0,191,Salah,10,942,72,0
12,0,0,0,0,0.0,191,125,0,0,0.0,0.0,2019-11-23T15:00:00Z,0,7,0,0,0,0,13,0,1659338,2,1,0.0,0,-233449,36039,269488,123,False,0,191,Salah,10,942,72,3
13,0,0,6,1,12.7,191,134,0,0,4.3,0.4,2019-11-30T15:00:00Z,68,4,0,0,0,0,14,0,1632180,1,2,30.0,3,-43760,37183,80943,122,True,0,191,Salah,10,1010,75,0
14,0,0,0,0,0.0,191,149,0,0,0.0,0.0,2019-12-04T20:15:00Z,0,8,0,0,0,0,15,0,1585242,2,5,0.0,0,-49660,11978,61638,122,True,0,191,Salah,10,1010,75,13
15,1,2,34,1,51.5,191,152,0,1,20.6,63.2,2019-12-07T15:00:00Z,90,3,0,0,0,0,16,0,1511749,3,0,91.0,13,-79042,42208,121250,122,False,0,191,Salah,10,1100,88,16
16,0,3,38,1,3.9,191,166,0,2,19.9,69.8,2019-12-14T12:30:00Z,90,18,0,0,0,0,17,0,1582495,0,2,125.0,16,58171,84297,26126,122,True,0,191,Salah,10,1190,104,3
17,0,0,5,1,15.9,191,186,0,0,4.0,0.0,2019-12-26T20:00:00Z,69,9,0,0,0,0,19,0,1722996,4,0,25.0,3,233179,244647,11468,122,False,0,191,Salah,10,1259,107,3
18,0,0,0,1,38.5,191,194,0,0,8.2,12.6,2019-12-29T16:30:00Z,90,20,0,0,0,0,20,0,1787526,0,1,31.0,3,63148,89337,26189,123,True,0,191,Salah,10,1349,110,10
19,0,2,32,1,40.2,191,204,0,1,17.7,46.8,2020-01-02T20:00:00Z,90,15,0,0,0,0,21,0,1773138,0,2,90.0,10,-15901,53382,69283,123,True,0,191,Salah,10,1439,120,6
20,1,0,25,1,40.2,191,219,0,0,9.3,22.6,2020-01-11T17:30:00Z,90,17,0,0,0,0,22,0,1838831,1,0,30.0,6,57249,97161,39912,123,False,0,191,Salah,10,1529,126,7
21,0,0,23,1,32.7,191,224,0,1,13.2,44.4,2020-01-19T16:30:00Z,90,12,0,0,0,0,23,0,1891529,0,2,55.0,7,48254,93684,45430,123,True,1,191,Salah,10,1619,133,2
22,0,0,12,0,18.5,191,237,1,0,11.5,10.8,2020-01-23T20:00:00Z,84,20,0,0,0,0,24,0,2229655,2,1,86.0,2,283380,299473,16093,124,False,0,191,Salah,10,1703,135,14
23,1,3,44,1,28.8,191,180,0,1,12.7,50.0,2020-01-29T19:45:00Z,90,19,0,0,0,0,24,0,2229655,2,0,48.0,14,283380,299473,16093,124,False,0,191,Salah,10,1793,149,0

In [8]:
top500histories = pd.concat(history_dfs.values(), ignore_index=True)
top500histories.shape

(10495, 37)

In [9]:
top500histories.to_csv('pre_top500histories.csv')

In [10]:
top500histories.columns

Index(['assists', 'bonus', 'bps', 'clean_sheets', 'creativity', 'element',
       'fixture', 'goals_conceded', 'goals_scored', 'ict_index', 'influence',
       'kickoff_time', 'minutes', 'opponent_team', 'own_goals',
       'penalties_missed', 'penalties_saved', 'red_cards', 'round', 'saves',
       'selected', 'team_a_score', 'team_h_score', 'threat', 'total_points',
       'transfers_balance', 'transfers_in', 'transfers_out', 'value',
       'was_home', 'yellow_cards', 'id_', 'web_name', 'team', 'sum_minutes',
       'sum_points', 'next_week_points'],
      dtype='object')

In [11]:
top500histories.shape[0]

10495