In [15]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split

In [17]:
raw = pd.read_csv('top500histories', index_col=0)
raw.head()

,assists,bonus,bps,clean_sheets,creativity,element,fixture,goals_conceded,goals_scored,ict_index,...,value,was_home,yellow_cards,gameweek,id_,sum_points,web_name,team,next_week_points,team_a_conceded
0,0,0,5,1,4.9,166,5,0,0,1.6,...,90,True,0,1,166,2,Vardy,9,2,0
1,0,0,-3,0,2.3,166,14,1,0,0.9,...,90,False,0,2,166,4,Vardy,9,8,5
2,0,2,25,0,1.8,166,27,1,1,6.2,...,89,False,0,3,166,12,Vardy,9,16,3
3,1,3,63,0,13.6,166,36,1,2,14.6,...,89,True,0,4,166,28,Vardy,9,2,8
4,0,0,5,0,11.3,166,45,1,0,1.7,...,89,False,0,5,166,30,Vardy,9,2,5

In [3]:
raw_sorted = raw.sort_values('gameweek')

In [13]:
df = raw_sorted[['opponent_team', 'goals_scored', 'assists', 'clean_sheets', 'bps', 'saves', 'minutes', 'sum_points', 'next_week_points']]
df.head()

,opponent_team,goals_scored,assists,clean_sheets,bps,saves,minutes,sum_points,next_week_points
0,20,0,0,1,5,0,90,2,2
1773,4,0,0,0,1,0,45,1,2
7189,4,0,0,0,1,0,15,1,0
1791,14,0,0,0,12,0,90,2,1
7171,17,0,0,0,4,0,16,1,0

In [12]:
raw.loc[0,:]

assists                                 0
bonus                                   0
bps                                     5
clean_sheets                            1
creativity                            4.9
element                               166
fixture                                 5
goals_conceded                          0
goals_scored                            0
ict_index                             1.6
influence                             6.8
kickoff_time         2019-08-11T13:00:00Z
minutes                                90
opponent_team                          20
own_goals                               0
penalties_missed                        0
penalties_saved                         0
red_cards                               0
round                                   1
saves                                   0
selected                           586801
team_a_score                            0
team_h_score                            0
threat                                  4
total_points                            2
transfers_balance                       0
transfers_in                            0
transfers_out                           0
value                                  90
was_home                             True
yellow_cards                            0
gameweek                                1
id_                                   166
sum_points                              2
web_name                            Vardy
next_week_points                        2
Name: 0, dtype: object