In [32]:
import pandas as pd
import numpy as np

df = pd.read_csv('top500histories.csv', index_col=0)
df1819 = pd.read_csv('df1819', index_col=0)
df_now = pd.read_csv('top500.csv')

df1819.shape

df_now.sort_values('total_points', ascending=False)[['web_name', 'total_points']].loc[:250]

      web_name  total_points
0        Vardy           104
1         Mané            92
2    De Bruyne            83
3      Abraham            83
4     Rashford            74
..         ...           ...
256     Aarons            16
255    Godfrey            16
253      Praet            16
254    Nakamba            16
250  Longstaff            16

[253 rows x 2 columns]

In [10]:
 df.head()

,element,fixture,opponent_team,total_points,was_home,kickoff_time,team_h_score,team_a_score,round,minutes,...,ict_index,value,transfers_balance,selected,transfers_in,transfers_out,gameweek,id_,sum_points,web_name
0,166,5,20,2,True,2019-08-11T13:00:00Z,0,0,1,90,...,1.6,90,0,586801,0,0,1,166,2,Vardy
1,166,14,6,2,False,2019-08-18T15:30:00Z,1,1,2,90,...,0.9,90,-82257,551733,18334,100591,2,166,4,Vardy
2,166,27,15,8,False,2019-08-24T14:00:00Z,1,2,3,90,...,6.2,89,-78612,488259,32101,110713,3,166,12,Vardy
3,166,36,3,16,True,2019-08-31T14:00:00Z,3,1,4,90,...,14.6,89,-7210,499553,49194,56404,4,166,28,Vardy
4,166,45,12,2,False,2019-09-14T14:00:00Z,1,0,5,90,...,1.7,89,83507,613077,136063,52556,5,166,30,Vardy

In [15]:
df1819[df1819.element == 402]

38

In [17]:
df1819.sort_values('total_points', ascending=False)[[
    'name', 'element', 'fixture', 'total_points', 'goals_scored', 'assists', 'bps', 'bonus',
    'kickoff_time', 'opponent_team', 'team_h_score', 'team_a_score', 
    'was_home', 'saves' ]].head()

,name,element,fixture,total_points,goals_scored,assists,bps,bonus,kickoff_time,opponent_team,team_h_score,team_a_score,was_home,saves
14691,Gerard_Deulofeu_394,394,264,23,3,1,81,3,2019-02-22T19:45:00Z,5,1,5,False,0
9481,Heung-Min_Son_367,367,175,21,2,2,71,3,2018-12-23T16:00:00Z,8,2,6,False,0
18812,Lucas_Rodrigues Moura da Silva_370,370,339,21,3,0,65,3,2019-04-13T11:30:00Z,10,4,0,True,0
16691,Raheem_Sterling_270,270,298,21,3,0,65,3,2019-03-09T17:30:00Z,18,3,1,True,0
12291,Fabian_Schär_482,482,227,21,2,0,50,3,2019-01-19T15:00:00Z,5,3,0,True,0