In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
raw = pd.read_csv('top500histories.csv', index_col=0)
raw.head()

,assists,bonus,bps,clean_sheets,creativity,element,fixture,goals_conceded,goals_scored,ict_index,...,transfers_in,transfers_out,value,was_home,yellow_cards,gameweek,id_,sum_points,web_name,next_week_points
0,0,0,5,1,4.9,166,5,0,0,1.6,...,0,0,90,True,0,1,166,2,Vardy,2
1,0,0,-3,0,2.3,166,14,1,0,0.9,...,18334,100591,90,False,0,2,166,4,Vardy,8
2,0,2,25,0,1.8,166,27,1,1,6.2,...,32101,110713,89,False,0,3,166,12,Vardy,16
3,1,3,63,0,13.6,166,36,1,2,14.6,...,49194,56404,89,True,0,4,166,28,Vardy,2
4,0,0,5,0,11.3,166,45,1,0,1.7,...,136063,52556,89,False,0,5,166,30,Vardy,2

In [8]:
raw_sorted = raw.sort_values('gameweek')

In [10]:
df = raw_sorted[['id_', 'web_name', 'gameweek', 'goals_scored', 'assists', 'clean_sheets', 'bps', 'saves', 'minutes', 'sum_points', 'next_week_points']]
df.head()

,id_,web_name,gameweek,goals_scored,assists,clean_sheets,bps,saves,minutes,sum_points,next_week_points
0,166,Vardy,1,0,0,1,5,0,90,2,2
7611,412,Ruddy,1,0,0,0,0,0,0,0,0
2397,380,Fredericks,1,0,0,0,11,0,90,0,2
7606,563,Dele-Bashiru,1,0,0,0,0,0,0,0,0
2414,254,FernÃ¡ndez,1,0,0,0,0,0,0,0,0