In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('top500histories.csv', index_col=0)
df1819 = pd.read_csv('df1819', index_col=0)

df1819.shape

(21790, 56)

In [2]:
 df1819.head()

,name,assists,attempted_passes,big_chances_created,big_chances_missed,bonus,bps,clean_sheets,clearances_blocks_interceptions,completed_passes,...,threat,total_points,transfers_balance,transfers_in,transfers_out,value,was_home,winning_goals,yellow_cards,GW
0,Aaron_Cresswell_402,0,0,0,0,0,0,0,0,0,...,0.0,0,0,0,0,55,False,0,0,1
1,Aaron_Lennon_83,0,22,0,1,0,6,1,1,17,...,17.0,3,0,0,0,50,False,0,0,1
2,Aaron_Mooy_199,0,51,0,0,0,24,0,2,40,...,0.0,2,0,0,0,55,True,0,0,1
3,Aaron_Ramsey_14,0,11,0,0,0,7,0,0,7,...,9.0,1,0,0,0,75,True,0,0,1
4,Aaron_Wan-Bissaka_145,1,29,1,0,3,38,1,11,19,...,0.0,12,0,0,0,40,False,0,0,1

In [3]:
df1819.columns

Index(['name', 'assists', 'attempted_passes', 'big_chances_created',
       'big_chances_missed', 'bonus', 'bps', 'clean_sheets',
       'clearances_blocks_interceptions', 'completed_passes', 'creativity',
       'dribbles', 'ea_index', 'element', 'errors_leading_to_goal',
       'errors_leading_to_goal_attempt', 'fixture', 'fouls', 'goals_conceded',
       'goals_scored', 'ict_index', 'id', 'influence', 'key_passes',
       'kickoff_time', 'kickoff_time_formatted', 'loaned_in', 'loaned_out',
       'minutes', 'offside', 'open_play_crosses', 'opponent_team', 'own_goals',
       'penalties_conceded', 'penalties_missed', 'penalties_saved',
       'recoveries', 'red_cards', 'round', 'saves', 'selected', 'tackled',
       'tackles', 'target_missed', 'team_a_score', 'team_h_score', 'threat',
       'total_points', 'transfers_balance', 'transfers_in', 'transfers_out',
       'value', 'was_home', 'winning_goals', 'yellow_cards', 'GW'],
      dtype='object')

In [7]:
df1819.sort_values('total_points', ascending=False)[[
    'name', 'element', 'fixture', 'total_points', 'assists', 'bps', 'bonus',
    'kickoff_time', 'opponent_team', 'team_h_score', 'team_a_score', 
    'was_home', 'saves' ]].head(50)

,name,element,fixture,total_points,assists,bps,bonus,kickoff_time,opponent_team,team_h_score,team_a_score,was_home
14691,Gerard_Deulofeu_394,394,264,23,1,81,3,2019-02-22T19:45:00Z,5,1,5,False
9481,Heung-Min_Son_367,367,175,21,2,71,3,2018-12-23T16:00:00Z,8,2,6,False
18812,Lucas_Rodrigues Moura da Silva_370,370,339,21,0,65,3,2019-04-13T11:30:00Z,10,4,0,True
16691,Raheem_Sterling_270,270,298,21,0,65,3,2019-03-09T17:30:00Z,18,3,1,True
12291,Fabian_Schär_482,482,227,21,0,50,3,2019-01-19T15:00:00Z,5,3,0,True
5801,Raheem_Sterling_270,270,107,21,2,63,3,2018-11-04T15:00:00Z,16,6,1,True
8527,Mohamed_Salah_253,253,152,21,0,70,3,2018-12-08T12:30:00Z,2,0,4,False
983,Sergio_Agüero_280,280,18,20,1,82,3,2018-08-19T12:30:00Z,10,6,1,True
15583,Virgil_van Dijk_246,246,277,20,0,54,2,2019-02-27T20:00:00Z,18,5,0,True
2276,Eden_Hazard_122,122,42,20,0,71,3,2018-09-15T14:00:00Z,5,4,1,True
20363,Mohamed_Salah_253,253,356,19,1,56,3,2019-04-26T19:00:00Z,10,5,0,True
12266,Diogo_Jota_432,432,230,19,0,53,3,2019-01-19T12:30:00Z,11,4,3,True
6796,Leroy_Sané_275,275,129,19,1,62,3,2018-11-24T15:00:00Z,19,0,4,False
9524,Jesse_Lingard_300,300,173,18,1,58,3,2018-12-22T17:30:00Z,5,1,5,False
10821,Paul_Pogba_302,302,197,18,1,66,3,2018-12-30T16:30:00Z,2,4,1,True
14390,Raheem_Sterling_270,270,256,18,1,61,2,2019-02-10T16:00:00Z,6,6,0,True
2565,Ryan_Fraser_40,40,41,18,1,56,3,2018-09-15T14:00:00Z,11,4,2,True
15571,Trent_Alexander-Arnold_245,245,277,18,3,72,3,2019-02-27T20:00:00Z,18,5,0,True
10149,Kyle_Walker-Peters_358,358,189,18,3,51,3,2018-12-26T15:00:00Z,2,5,0,True
3401,Harry_Maguire_220,220,68,18,1,50,3,2018-09-29T14:00:00Z,15,0,2,False
13836,Sergio_Agüero_280,280,248,17,0,77,3,2019-02-03T16:30:00Z,1,3,1,True
10848,Roberto_Firmino_257,257,196,17,0,92,3,2018-12-29T17:30:00Z,1,5,1,True
5270,Ross_Barkley_127,127,92,17,2,54,3,2018-10-28T13:30:00Z,4,0,4,False
19172,Ayoze_Pérez_326,326,348,17,0,81,3,2019-04-20T16:30:00Z,16,3,1,True
14443,Sergio_Agüero_280,280,256,17,0,66,3,2019-02-10T16:00:00Z,6,6,0,True
10163,Lucas_Digne_484,484,182,17,0,39,3,2018-12-26T15:00:00Z,4,1,5,False
1071,Aleksandar_Mitrovic_480,480,23,16,1,59,3,2018-08-26T15:00:00Z,4,4,2,True
12984,Joshua_King_45,45,232,16,1,82,3,2019-01-30T19:45:00Z,6,4,0,True
16285,Ayoze_Pérez_326,326,299,16,1,63,3,2019-03-09T15:00:00Z,8,3,2,True
15238,Henrikh_Mkhitaryan_18,18,271,16,2,54,3,2019-02-27T19:45:00Z,2,5,1,True
21614,Nathaniel_Mendez-Laing_100,100,377,16,0,51,3,2019-05-12T14:00:00Z,14,0,2,False
15231,Gylfi_Sigurdsson_172,172,272,16,0,53,3,2019-02-26T19:45:00Z,5,0,3,False
16481,Jamie_Vardy_234,234,296,16,1,64,3,2019-03-09T15:00:00Z,9,3,1,True
14373,Paul_Pogba_302,302,253,16,0,49,3,2019-02-09T12:30:00Z,9,0,3,False
6474,Aaron_Mooy_199,199,130,16,0,51,3,2018-11-25T16:00:00Z,20,0,2,False
423,Roberto_Pereyra_391,391,9,16,0,56,3,2018-08-11T14:00:00Z,3,2,0,True
19387,Gerard_Deulofeu_394,394,346,16,0,42,3,2019-04-20T14:00:00Z,10,1,2,False
7453,Pierre-Emerick_Aubameyang_23,23,131,16,1,64,3,2018-12-02T14:05:00Z,17,4,2,True
6905,Raheem_Sterling_270,270,129,16,2,49,2,2018-11-24T15:00:00Z,19,0,4,False
18138,Eden_Hazard_122,122,322,16,0,58,3,2019-04-08T19:00:00Z,19,2,0,True
18191,Jamie_Vardy_234,234,324,16,1,67,3,2019-04-06T14:00:00Z,10,1,4,False
18963,Ryan_Fraser_40,40,331,16,2,53,2,2019-04-13T14:00:00Z,3,0,5,False
441,Sadio_Mané_251,251,5,16,0,52,3,2018-08-12T12:30:00Z,19,4,0,True
20038,Callum_Wilson_43,43,358,16,1,65,3,2019-04-27T14:00:00Z,16,3,3,False
908,Neil_Etheridge_88,88,13,16,0,50,3,2018-08-18T11:30:00Z,15,0,0,True
21751,Trent_Alexander-Arnold_245,245,376,15,2,53,3,2019-05-12T14:00:00Z,20,2,0,True
15199,Fabian_Schär_482,482,279,15,0,38,3,2019-02-26T20:00:00Z,4,2,0,True
11686,Declan_Rice_406,406,220,15,0,40,3,2019-01-12T12:30:00Z,1,1,0,True
9477,Harry_Kane_372,372,175,15,1,55,2,2018-12-23T16:00:00Z,8,2,6,False
9980,Dejan_Lovren_239,239,186,15,0,43,3,2018-12-26T15:00:00Z,15,4,0,True