Takes the current top 500 players (elements) by total points, sorts by points, and saves them as a csv

Update weekly

In [1]:
import pandas as pd
import numpy as np
import requests

In [2]:
# get the data_static dictionary
import pandas as pd
import requests
url_static = 'https://fantasy.premierleague.com/api/bootstrap-static/'
r_static = requests.get(url_static)
data_static = r_static.json()
elements = data_static['elements']
df = pd.DataFrame(elements)
df = df.set_index('id')

In [3]:
top500 = df.sort_values(by='total_points', ascending=False).iloc[:500,:]
top500 = top500.rename_axis('id_')
top500.to_csv('top500.csv')

In [4]:
teams = pd.DataFrame(data_static['teams'])
teams.to_csv('teams')

In [5]:
top500.head()

,assists,bonus,bps,chance_of_playing_next_round,chance_of_playing_this_round,clean_sheets,code,cost_change_event,cost_change_event_fall,cost_change_start,...,threat,total_points,transfers_in,transfers_in_event,transfers_out,transfers_out_event,value_form,value_season,web_name,yellow_cards
id_,,,,,,,,,,,,,,,,,,,,,
166,5,25,529,75.0,NaN,7,101668,0,0,11,...,816.0,144,3696854,36157,1037454,223323,0.5,14.3,Vardy,2
215,14,19,567,100.0,100.0,8,61366,0,0,11,...,601.0,141,4422030,66137,2146912,26432,0.7,13.3,De Bruyne,2
192,8,18,406,100.0,100.0,7,110979,0,0,8,...,650.0,140,3270824,69222,1620004,18229,0.6,11.4,Mané,1
11,3,23,464,NaN,NaN,4,54694,0,0,-2,...,833.0,123,1679687,133280,2180219,21188,0.5,11.4,Aubameyang,3
233,5,23,437,100.0,100.0,4,176297,0,0,6,...,888.0,122,2777464,114947,2076223,62411,0.7,13.4,Rashford,2