Takes the current top 500 players (elements) by total points, sorts by points, and saves them as a csv

Update weekly

In [1]:
import pandas as pd
import numpy as np
import requests

In [2]:
# get the data_static dictionary
url_static = 'https://fantasy.premierleague.com/api/bootstrap-static/'
r_static = requests.get(url_static)
data_static = r_static.json()
elements = data_static['elements']
df = pd.DataFrame(elements)
df = df.set_index('id')

In [3]:
top500 = df.sort_values(by='total_points', ascending=False).iloc[:450,:]
top500 = top500.rename_axis('id_')
top500.to_csv('top500.csv')

In [4]:
teams = pd.DataFrame(data_static['teams'])
teams.to_csv('teams')

In [5]:
top500.iloc[449]

assists                                                   0
bonus                                                     0
bps                                                       3
chance_of_playing_next_round                              0
chance_of_playing_this_round                              0
clean_sheets                                              0
code                                                 175946
cost_change_event                                         0
cost_change_event_fall                                    0
cost_change_start                                        -5
cost_change_start_fall                                    5
creativity                                              0.1
dreamteam_count                                           0
element_type                                              3
ep_next                                                 0.0
ep_this                                                 0.0
event_points                                              0
first_name                                           Víctor
form                                                    0.0
goals_conceded                                            0
goals_scored                                              0
ict_index                                               0.0
in_dreamteam                                          False
influence                                               0.2
minutes                                                   5
news                                Loan deal ended on 13/1
news_added                      2020-01-06T01:00:18.633384Z
now_cost                                                 45
own_goals                                                 0
penalties_missed                                          0
penalties_saved                                           0
photo                                            175946.jpg
points_per_game                                         1.0
red_cards                                                 0
saves                                                     0
second_name                                        Camarasa
selected_by_percent                                     0.2
special                                               False
squad_number                                           None
status                                                    u
team                                                      7
team_code                                                31
threat                                                  0.0
total_points                                              1
transfers_in                                           4675
transfers_in_event                                        5
transfers_out                                         48531
transfers_out_event                                     250
value_form                                              0.0
value_season                                            0.2
web_name                                           Camarasa
yellow_cards                                              0
Name: 510, dtype: object

In [7]:
top500.head()

,assists,bonus,bps,chance_of_playing_next_round,chance_of_playing_this_round,clean_sheets,code,cost_change_event,cost_change_event_fall,cost_change_start,...,threat,total_points,transfers_in,transfers_in_event,transfers_out,transfers_out_event,value_form,value_season,web_name,yellow_cards
id_,,,,,,,,,,,,,,,,,,,,,
215,17,20,652,100.0,100.0,10,61366,-1,1,11,...,649.0,159,4807143,133943,2432472,24430,0.5,15.0,De Bruyne,2
166,6,25,553,100.0,100.0,7,101668,-1,1,9,...,881.0,150,4065383,35725,1905238,441004,0.2,15.2,Vardy,2
191,6,18,423,100.0,100.0,12,118748,1,-1,0,...,1251.0,149,2516173,449840,2881492,15137,0.6,11.9,Salah,1
192,8,18,422,25.0,100.0,9,110979,-1,1,8,...,814.0,147,3608849,16744,2430927,669057,0.2,12.0,Mané,1
182,12,14,617,100.0,100.0,9,169187,0,0,6,...,292.0,140,2498989,78540,1197839,10265,0.9,18.4,Alexander-Arnold,4