In [3]:
import pandas as pd
import numpy as np

# import the required classes and definitions from Python-MIP
from mip import Model, xsum, maximize, BINARY, INTEGER

In [4]:
#sort the top200 by element_type so model can fill correct number of each type

top200 = pd.read_csv('top200.csv')
top200sorted = top200.sort_values('element_type')


#lists for the knapsack model, sorted by position
eltype = list(top200sorted['element_type'])
form = list(top200sorted['form'])
score = list(top200sorted['total_points'])
price = list(top200sorted['now_cost'])
form_score = list(pd.Series(form) * pd.Series(score))

In [5]:
top200sorted.shape

(200, 53)

In [6]:
#make a list of our main columns of interest
simple_columns = ['web_name', 'element_type', 'total_points','now_cost', 'form',
                 'goals_scored', 'assists', 'clean_sheets', 'team', 'selected_by_percent']

#make a smaller df for easy viewing of dream_team
top200simple = top200sorted[simple_columns]
top200simple.shape

(200, 10)

In [7]:
#find cutoffs for the element_types

eltype_counts = top200sorted['element_type'].value_counts().sort_index()

cutoff1 = eltype_counts[1]
cutoff2 = cutoff1 + eltype_counts[2]
cutoff3 = cutoff2 + eltype_counts[3]
cutoff4 = cutoff3 + eltype_counts[4]

print(cutoff1, cutoff2, cutoff3, cutoff4)

19 85 172 200

In [8]:
# The model

# define the problem data, change the profit and weight lists here
profit = score
weight = price
c = 830
n = len(weight)

#create an empty maximization
m = Model('team_select')

#add the binary decision variables to model m and store their references in a list x
x = [m.add_var(var_type=BINARY) for i in range(n)]

#define the objective function of this model 
m.objective = maximize(xsum(profit[i] * x[i] for i in range(n)))

#add the capacity constraints
m += xsum(weight[i] * x[i] for i in range(n)) <= c

m += xsum(x) <= 11

m += xsum(eltype[i] * x[i] for i in range(cutoff1)) >= 1
m += xsum(eltype[i] * x[i] for i in range(cutoff1)) <= 1

m += xsum(eltype[i] * x[i] for i in range(cutoff1,cutoff2)) >= 6
m += xsum(eltype[i] * x[i] for i in range(cutoff1,cutoff2)) <= 10

m += xsum(eltype[i] * x[i] for i in range(cutoff2,cutoff3)) >= 6
m += xsum(eltype[i] * x[i] for i in range(cutoff2,cutoff3)) <= 15

m += xsum(eltype[i] * x[i] for i in range(cutoff3,cutoff4)) >= 4
m += xsum(eltype[i] * x[i] for i in range(cutoff3,cutoff4)) <= 12

#Optimize the model
m.optimize()

# Compute the solution, a list of the selected items
selected = [i for i in range(n) if x[i].x >= 0.99]
print('selected items: {}'.format(selected))

selected items: [6, 63, 70, 82, 125, 140, 142, 146, 177, 178, 181]

In [9]:
dream_team = top200simple.iloc[selected,:]
dream_team

,web_name,element_type,total_points,now_cost,form,goals_scored,assists,clean_sheets,team,selected_by_percent
21,Patrício,1,38,51,4.5,0,0,3,20,10.3
15,Pereira,2,40,62,6.2,2,0,2,9,10.0
18,van Aanholt,2,39,56,3.8,2,0,3,7,11.9
19,Lundstram,2,39,45,5.2,1,1,3,15,31.5
0,De Bruyne,3,63,100,6.8,2,9,3,11,31.2
20,McGinn,3,39,58,5.5,3,1,2,2,12.0
13,Mount,3,46,68,6.0,4,1,1,6,34.3
2,Mané,3,57,117,8.0,5,2,3,10,25.9
6,Abraham,4,54,77,6.5,8,0,1,6,41.6
5,Pukki,4,54,71,4.2,6,2,0,14,40.2
1,Agüero,4,61,122,5.2,8,3,2,11,29.7

In [10]:
sum(dream_team['element_type'])

31

In [11]:
sum(dream_team['now_cost'])

827

In [12]:
sum(dream_team['total_points'])

530